<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Hide Me</title>
</head>

<body class="bckgrd">
    <h1>Welcome to the Hide Me</h1>
    <div class="reg">
        <p>Enjoy seemless real time chats with friends</p>
        <a href="/login">Login</a> | <a href="/register">Register</a>
    </div>
</body>

</html>